.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000;
}

.MuiSelect-icon.MuiSvgIcon-root {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
