
.extra-question-error {
    display: block;
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: auto 0;
}

.extra-question-error:before{
    font-family: FontAwesome;
    content: "\f071";
    padding-right: 5px;
}

.questions-form {
    h4{
        font-size: 12pt;
    }
    .abc-checkbox{
        padding: 0 !important;
    }
    .form-check-label{
        font-weight: normal !important;
    }
    padding-bottom: 5em;
}

input:invalid {
    border-color: red !important;
}
