.loading {
    filter: blur(10px);
    clip-path: inset(0);
}
.loaded {
    filter: blur(0px);
    transition: filter 0.1s linear;
}
.image {
    display: block;
    max-width: 100%;
    height: auto;
}
